html, body, h1, h2, h3, h4, p, div, ul, ol, li, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.todoApp {
  text-align: center;
}
.navbar {
  text-align: center;
  li {
    display: inline-block;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
      border: 1px solid black;
    }
  }
}
