html, body, h1, h2, h3, h4, p, div, ul, ol, li, a
  padding: 0
  border: 0
  margin: 0
  font: inherit
  font-size: 100%
  font-family: "Helvetica Neue", Helvetica, sans-serif
body
  background-color: skyblue
  font-size: 62.5%
.default
  text-align: center
  margin: 20px auto
nav
  @extend .default
  margin-top: 0
  width: 100%
  font-size: 2em
  background-color: black
  color: white
  li
    display: inline-block
    margin-right: 20px
    &:last-child
      margin-right: 0
    a
      text-decoration: none
      color: inherit
  .active
    color: gray
    & a:hover
      cursor: default
.counter
  @extend .default
  font-size: 1.6em
